.govuk-header__logotype {
    height: 30px;
}

.govuk-footer .govuk-section-break--visible {
    border-color: #1d70b8;
}

.govuk-footer .app-section-break--short {
    max-width: 30rem;
}

.govuk-footer .app-footer__meta-break {
    margin-top: 0;
    margin-bottom: 45px;
}
